{% extends 'layout.html' %}

{% block contenido %}
<form action="tabla_clientes.html">
  <div class="form-row">
      
    <div class="form-group col-md-6">
      <label for="id_cliente">Id cliente</label>
      <input type="int" class="form-control" placeholder="Id cliente">
    </div>
     <div class="form-group col-md-6">
      <label for="nombre_completo">Nombre completo</label>
      <input type="text" class="form-control" placeholder="Nombre completo">
    </div>
    
    <div class="form-group col-md-6">
      <label for="telefono">Telefono</label>
      <input type="text" class="form-control"  placeholder="Numero de telefono" >
    </div>

    <div class="form-group col-md-6">
      <label for="identificacion">Identificacion</label>
      <input type="text" class="form-control" placeholder="Identificacion">
    </div>

    <div class="form-group col-md-6">
      <label for="direccion">Direccion</label>
      <input type="text" class="form-control" placeholder="Direccion de domicilio">
    </div>
  
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email">
    </div>

 </form>
<a href="/tabla_clientes">Guardar cambios</a>
{% endblock contenido %}  
      