{% extends 'layout.html' %}

{% block contenido %}
<form action="tabla_productos.html">
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="descripcion">Descripción Producto</label>
          <input type="text" class="form-control" id="descripcion" placeholder="Descripción Producto">
      </div>
    <div class="form-group col-md-6">
      <label for="valor_unitario">Valor Unitario</label>
      <input type="float" class="form-control" id="valor_unitario" placeholder="Valor Unitario">
    </div>
    <div class="form-group col-md-6">
      <label for="id_producto">Id producto</label>
      <input type="int" class="form-control" placeholder="Id Producto">
    </div>
     <div class="form-group col-md-6">
      <label for="unidad_de_medida">Unidad de medida</label>
      <input type="text" class="form-control" placeholder="Unidad de medida">
    </div>
    <div class="form-group col-md-6">
      <label for="cantidad_stock">Cantidad en stock</label>
      <input type="int" class="form-control" placeholder="Cantidad en stock">
    </div>
    <div class="form-group col-md-6">
      <label for="id_categoria">Id categoria</label>
      <input type="int" class="form-control" placeholder="Id categoria">
    </div>
    <div class="form-group col-md-6">
      <label for="id_usuario">Id usuario</label>
      <input type="int" class="form-control" placeholder="Id usuario">
    </div>
    <div class="form-group col-md-6">
      <label for="id_factura_producto">Id factura producto</label>
      <input type="int" class="form-control" placeholder="Id factura producto">
    </div>




  </div>
  
    <div class="form-group col-md-4">
      <label for="categoria">Categoria</label>
      <select id="categoria" class="form-control">
          <option selected>Seleccione...</option>
          <option value="1">Alimentos</option>
          <option value="2">Calzado</option>
        <option>...</option>
      </select>
    </div>
    
    <a href="/tabla_productos2">Guardar cambios</a>
</form>

{% endblock contenido %} 
     
