{% extends 'layout.html' %}

{% block contenido %}
<form action="tabla_facturas.html">
  <div class="form-row">
      
    <div class="form-group col-md-6">
      <label for="id_factura">Id factura</label>
      <input type="int" class="form-control" placeholder="Id factura">
    </div>
     <div class="form-group col-md-6">
      <label for="id_cliente">Id cliente</label>
      <input type="int" class="form-control" placeholder="Id cliente">
    </div>
    
    <div class="form-group col-md-6">
      <label for="fecha_factura">Fecha factura</label>
      <input type="datetime-local" class="form-control" >
    </div>

    <div class="form-group col-md-6">
      <label for="numero_factura">Numero de factura</label>
      <input type="int" class="form-control" placeholder="Numero de factura">
    </div>

    <div class="form-group col-md-6">
      <label for="id_factura_producto">Id factura producto</label>
      <input type="int" class="form-control" placeholder="id_factura_producto">
    </div>
  
    <div class="form-group col-md-6">
      <label for="cantidad">Cantidad</label>
      <input type="int" class="form-control" placeholder="Cantidad">
    </div>

    <div class="form-group col-md-6">
      <label for="nombre_producto">Nombre producto</label>
      <input type="text" class="form-control" placeholder="Nombre producto">
    </div>

    <div class="form-group col-md-6">
      <label for="precio_unitario">Precio unitario</label>
      <input type="float" class="form-control" placeholder="Precio unitario">
    </div>
 </form>
<a href="/tabla_facturas">Guardar</a>
{% endblock contenido %}      
     