{% extends 'layout.html' %}

{% block contenido %}
<form action="tabla_usuarios.html">
  <div class="form-row">
      <div class="form-group col-md-6">
          <label for="id_usuario">Id usuario</label>
          <input type="int" class="form-control" id="id_usuario" placeholder="Id usuario">
      </div>
    <div class="form-group col-md-6">
      <label for="cuenta_activa">Cuenta activa</label>
      <input type="boolean" class="form-control" id="cuenta_activa" placeholder="Cuenta activa">
    </div>
    <div class="form-group col-md-6">
      <label for="fecha_de_nacimiento">Fecha de nacimiento</label>
      <input type="date" class="form-control" placeholder="Fecha de nacimiento">
    </div>
     <div class="form-group col-md-6">
      <label for="contraseña">Contraseña</label>
      <input type="password" class="form-control" placeholder="Contraseña">
    </div>
    <div class="form-group col-md-6">
      <label for="nombre_completo">Nombre completo</label>
      <input type="text" class="form-control" placeholder="Nombre completo">
    </div>
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" placeholder="Email">
    </div>
   

  </div>
  <a href="/lista_usuario">Guardar</a>
</form>

{% endblock contenido %}
     
