{% extends 'layout.html' %}

{% block contenido %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Id factura</th>
      <th scope="col">Id cliente</th>
      <th scope="col">Fecha factura</th>
      <th scope="col">Numero de factura</th>
      <th scope="col">Id factura producto</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Nombre producto</th>
      <th scope="col">Precio unitario</th>
      <th scope="col">Inhabiltar/Editar</th>
      
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td> 
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td> <a href="/editar_factura2" style="padding:15px;">Editar</a><a href="#">Inhabiltar</a></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td> <a href="/editar_factura2" style="padding:15px;">Editar</a><a href="#">Inhabiltar</a></td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>Mark</td>
      <td> <a href="/editar_factura2" style="padding:15px;">Editar</a><a href="#">Inhabiltar</a></td>
    
    </tr>
  </tbody>
</table>
</body>
</html>
{% endblock contenido %}     
      